# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
dist/
dist-ssr/
storybook-static/

# TypeScript cache
*.tsbuildinfo

# env files
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
